.search{
    margin-top: 40px;
    color: #1DB954;
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
}

.details{
    padding:50px;
    padding-top:20px;
    height: 450px;
    color:white;
}

.info{
    display: flex;
    justify-content: center;
}

.info > *{
    margin:10px;
}

.albums{
    padding:20px;
}

.album_info{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.album_cover img{
    margin-bottom:20px;
}

.album_cover > * {
    text-align: center;
}

.album_details{
    display:inline-block;
    padding:20px;
    cursor: pointer;
}

.album_details p {
    color: white;
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.album_details:hover{
    animation: bouncing 0.5s 0.1s; 
}

@keyframes bouncing {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}